@font-face {
    font-family: "Raleway-Regular";
    src: local ("Raleway-Regular"), url("../fonts/Raleway-Regular.woff2") format("woff2"),
        url("../fonts/Raleway-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Raleway-Bold";
    src: local ("Raleway-Bold"), url("../fonts/Raleway-Bold.woff2") format("woff2"),
        url("../fonts/Raleway-Bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Bitter-Regular";
    src: local ("Bitter-Regular"), url("../fonts/Bitter-Regular.woff2") format("woff2"),
        url("../fonts/Bitter-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

